* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing: border-box;
    }

body, footer {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 1200px;
    margin: auto;
}
header {
    background-color: darkblue;
    color: white;
    font-size: 2em;
    max-width: 100%
}

h1 {
    background-color: darkgrey;
    font-size: 1.2em;
    padding: .5rem;
}
img {
    width: 300px;
    border-radius: 3px;
    border: 1px solid darkgrey;
    margin-top: 20px;
    margin-bottom: 20px;
}

#grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    display: inline-block;
}

#section1 {
    grid-row: 1 / 2;
    width: 300px;
}

#section2 {
    grid-row: 2 / 3;
    width: 300px;
}

#section3 {
    grid-row: 3 / 4;
    width: 300px;
}

p {
    width: 300px;
    text-align: center;
}


footer {
    font-size: 1.2em;
    text-align: center;
    background-color: darkgrey;
    max-width: 100%;
    padding: .5rem;
}
span, div {
    display: inline-block;
}

