* {
    font-family: 'Roboto', serif;
}
p {
    font-size: 1.25em;
    line-height: 1.2;
}

header, main, footer {
    max-width: 1980px;
    margin: 10px;
}

header div {
    display: inline-block;
}

img {
    width: 100px;
    display: inline;
}

.social img {
    width: 50px;
    float: right;
}

#date-uk {
    text-align: center;
}

nav button {
    margin: 0.8rem 1vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #eee;
}
nav {
    background-color: #2566af;
    margin-top: 20px;
}

nav li{
    list-style-type: none;
}
nav a{
    text-align: center;
    text-decoration: none;
    display: block;
    padding: .8rem 0;
    color: #ffffff;
    background-color: #2566af;
}
nav ul {
    padding: 0;
    display: none;
    margin: 0;
}

nav ul li a:hover {
    background-color: #cc2229;
    color: #ffffff;
}
nav ul li.active a {
    color: #2566af;
    background-color: #ffffff;
}

/* #header-grid {
    display: grid;
    grid-template-columns: 100px auto;
} */

header div h1 {
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 13px;
    text-align: center;
    display: block;
}
header div h2 {
    font-size: 1em;
    margin: 0;
    text-align: center;
    display: block;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1), #hamburgerBtn.open span:nth-child(2){
    display: block;
}
#hamburgerBtn span:nth-child(2), #hamburgerBtn.open span:nth-child(1){
    display: none;
}

h1, h2, h3, h4, h5, h6, footer {font-family: 'Noto Sans', sans-serif;}

#banner {
    background-color: #fce29a;
    display: block;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: .5rem;
}
div.displayed {
    display: block;
}
div.hidden {
    display: none;
}

main section div {
    border: 2px solid #2566af;
    background-color: #eee;
    border-radius: 5px;
    padding: .6rem .6rem;
    margin-top: 10px;
}
main section div h3 {
    text-align: center;
}

div h1, div h2{
    display: inline-block;
}
footer {
    border: 2px solid #cc2229;
    padding: .3rem;
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
}
footer img {
    margin-top: 10px;
}
span, .ft_txt {
    display: inline-block;
    margin: 0;
}

/* Section details */

#herodiv {
    position: relative;
    /* background-color: transparent; */
    overflow: hidden;
    min-height: 400px;
}
#heroImg {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: -10px;
    margin-left: -10px;
    overflow: hidden;
}
#heroImgTitle {
    text-align: center;
    font-size: 2em;
    position: absolute;
}
#heroBtn {
    padding: 1.25rem 1rem;
    font-size: 1.5em;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

section div:nth-child(2) { /*Event*/
    text-align: center;
}

section div:nth-child(3) { /*Current Weather*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#cw1 {grid-column: 1/3; text-align: center;}
#cw2 {grid-column: 1/2;}
#cw3 {grid-column: 2/3;}
#cw4 {grid-column: 2/3;}
#cw5 {grid-column: 1/3;}
#cw6 {grid-column: 1/3;}

section div:nth-child(5) { /*Join*/
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}
#joinBtn {
    margin-top: 20px;
    font-size: 1.5em;
    grid-column: 2/3;
}
#joinText {
    margin-top: 40px;
    grid-row: 2/3;
    grid-column: 1/4;
}

section div:nth-child(6), section div:nth-child(7) { /*Spotlight 1 Spotlight 2*/
    text-align: center;
}

#heroImgRI {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: -10px;
    margin-left: -10px;
    overflow: hidden;
}